<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/basic}">
    <head>
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </head>
    <th:block layout:fragment="content">
      <!--게시판 영역-->
      <section class="content">
        <div class="content__top">
          <h1>게시판</h1>
          <button sec:authorize="isAuthenticated()" class="content__button"
          th:onclick="|location.href='@{/board/register}'|">글쓰기</button>
        </div>
        <div class="content__search">
          <form class="search__form" th:action="@{/board}" method="GET">
            <input type="hidden" name="page" value="1">
            <div class="search__select">
                <select name="type" class="search__select--type">
                    <option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목+내용</option>
                    <option value="t"  th:selected="${pageRequestDTO.type=='t'}">제목</option>
                    <option value="c"  th:selected="${pageRequestDTO.type=='c'}">내용</option>
                    <option value="w"  th:selected="${pageRequestDTO.type=='w'}">작성자</option>
                </select>
            </div>
            <input class="search__input--text" name="keyword" th:value="${pageRequestDTO.keyword}" 
            placeholder="게시글 검색">
            <button type="submit" class="search__input--button">검색</button>  
          </form>
        </div>
        <div class="content__center">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">날짜</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="dto : ${result?.dtoList}">
                <th scope="row"><a th:href="@{/board/read(id=${dto.id}, page=${result.page})}">[[${dto.title}]] ([[${dto.commentCnt}]])</a></th>
                  <td class="dropdown">
                    <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" style="cursor: pointer;">
                      [[${dto.writer}]]
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" th:href="@{/}">작성글 보기</a>
                    </div>
                  </td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
              </tr>
            </tbody>
          </table>
         
        </div>
   
        <!--페이지-->
        <div class="content__end">
          <ul class="pagination h-100 justify-content-center align-items-center">
              <li class="page-item" th:if="${result?.prev}">
                <a class="page-link" th:href="@{/board(page= ${result.start-1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}" tabindex="-1">Prev</a>
              </li>
              <li th:class=" 'page-item '+ ${result?.page == page? 'active' : ''} " th:each="page : ${result?.pageList}">
                <a class="page-link" th:href="@{/board(page= ${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                  [[${page}]]
                </a>
              </li>
              <li class="page-item" th:if="${result?.next}">
                <a class="page-link" th:href="@{/board(page= ${result.end+1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}" tabindex="-1">Next</a>
              </li>
          </ul>
        </div>
      </section>

    </th:block>
</html>