<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/basic}">
    <head>
        <link rel="stylesheet" th:href="@{/css/modify.css}">
        <script th:src="@{/js/ckeditor/ckeditor.js}"></script>
    </head>
    <th:block layout:fragment="content">
        <div class="board__modify">
            <div class="modify__top">
                <h1>게시글 수정</h1>
            </div>
            <form th:action="@{'/board/modify/' +${boardForm.id}}" method="Post">
                <input type="hidden" name="_method" value="put"/>
                <input type="hidden" id="id" name="id" th:value="${boardForm.id}"/>
                <div class="form-group" style="font-weight:bold; margin-bottom:15px;">
                    <label>제목</label>
                    <input type="text" class="form-control" name="title" th:value="${boardForm.title}" required>
                </div>
                <div class="form-group" style="font-weight:bold; margin-bottom:15px;">
                    <label>작성자</label>
                    <input type="text" class="form-control" name="writer"  th:value="${member.nickname}" readonly>
                </div>
                <div class="form-group" style="font-weight:bold; margin-bottom:15px;">
                    <label>내용</label>
                    <textarea class="form-control" row="5" name="contents" id="contents" th:utext="${boardForm.contents}" required></textarea>
                </div><br>
                <button type="button" th:onclick="|location.href='@{/board/read(id=${boardForm.id}, page=${pageRequestDTO.page})}'|" class="btn btn-secondary"><img class="button__icon" th:src="@{/imgs/cancle-icon-white.png}">취소하기</button>
                <button type="submit" class="btn btn-primary"><img class="button__icon" th:src="@{/imgs/register-white.png}">수정하기</button>
            </form>
        </div> 
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function(){

                CKEDITOR.replace('contents',{ 
                    filebrowserUploadMethod :'form',
                    filebrowserUploadUrl: '/image/upload'
           
                });
                CKEDITOR.on('dialogDefinition',function(e){
                    var dialogName = e.data.name;
                    var dialogDefinition = e.data.definition;

                    switch(dialogName){
                        case 'image':
                            //dialogDefinition.removeContents('info');
                            dialogDefinition.removeContents('Link');
                            dialogDefinition.removeContents('advanced');
                            break;
                    }
                });
                
            });
        </script>  
    </th:block>
</html>