<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/basic}">
    <head>
        <link rel="stylesheet" th:href="@{/css/read.css}">
    </head>
    <th:block layout:fragment="content">
        <div class="board__read">
            <form th:action="'/board/remove/' +${boardForm.id}" method="Post">
                <input type="hidden" name="_method" value="delete"/>
                <div class="read__top">
                    <div class="title">[[${boardForm.title}]]</div>
                </div>
                <hr>
                <div class="read__info">
                        <div class="writer">[[${boardForm.writer}]]</div>
                        <div class="date">[[${#temporals.format(boardForm.regDate, 'yyyy/MM/dd HH:mm')}]]</div>
                </div>
                <hr>
                <div class="read__contents" style="margin-bottom: 5%;">
                    <div th:utext="${boardForm.contents}"></div>
                </div>
                <div class="read__button">
                    <button type="button" class="btn btn-secondary modifyButton" th:onclick="|location.href='@{/board/modify(id=${boardForm.id}, page=${pageRequestDTO.page}, 
                    type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}'|">수정</button>
                    <button type="submit" class="btn btn-danger removeButton">삭제</button>
                    <button type="button" class="btn btn-info" th:onclick="|location.href='@{/board(page=${pageRequestDTO.page}, 
                    type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}'|">목록</button>
                </div>
            </form>
            <div class="commentList">
                <h4>댓글 ([[${boardForm.commentCnt}]])</h4>
                <ul class="list-group"></ul>
            </div>
            <div class="comment">
                <div class="comment__input">
                    <textarea class="form-control text"  name="text" placeholder="로그인을 하셔야 댓글을 작성하실 수 있습니다."></textarea>
                    <button type="button" class="btn btn-dark commentSave">등록</button>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function(){
                var currentMember = [[${member?.nickname}]];
                var writer = [[${boardForm.writer}]];
                var memberId = [[${member?.id}]];
                var boardId =[[${boardForm.id}]];
                var text = $('textarea[name="text"]');
                // 버튼 숨기기
                function showButton(){
                    if(currentMember != writer){
                        $('.modifyButton').hide();
                        $('.removeButton').hide();
                    }
                }
           
                $('.removeButton').click(function(){
                    if(!confirm("정말 삭제하시겠습니까?")){
                        self.location.reload();
                    }
                });

                // 로그인 시 댓글 작성 
                $('.text').click(function(e){
                    if(currentMember==null){
                        if(confirm("로그인 하시겠습니까?")){
                            location.href="/login";
                        }
                    }
                });
                // 댓글 저장
                $('.commentSave').click(function(e){
                    var data = {boardId : boardId, text : text.val(), memberId : memberId };
                    console.log(data);
                    
                    if(data.text==""){
                        alert("댓글을 작성해주세요!");
                        return;
                    }

                    $.ajax({
                        url : '/comments/'+boardId,
                        type : 'POST',
                        contentType : 'application/json; charset=utf-8',
                        dataType : 'json',
                        data : JSON.stringify(data),
                    success : function(result){
                        console.log("success: "+result);
                        self.location.reload();
                    },
                    error : function(error){
                        console.log("error : "+error);
                    }
                    });
                });
                 
                showButton();
           
            });
            // 날짜 포맷 변경
            function formatDate(regDate){
                var date = new Date(regDate);
                return date.getFullYear() + '.'+ ('0'+(date.getMonth()+1)).slice(-2) + '.' + ('0'+date.getDate()).slice(-2) + '.  ' 
                + ('0'+date.getHours()).slice(-2) + ':'+('0'+date.getMinutes()).slice(-2)+' ';

            }
           // 게시판 댓글 목록
           function getBoardComments() {
                var boardId =[[${boardForm.id}]];
                var currentMember = [[${member?.nickname}]];
                var writer = [[${boardForm.writer}]];
                    $.getJSON("/comments/"+boardId+"/all", function(arr){
                        var str="";
                        $.each(arr, function(idx, comment){
                            str += '  <li id="comment__'+ comment.commentNum+'">';
                            str += '    <div class="commentWriter d-flex">'+comment.nickname;
                            if(writer == comment.nickname){
                                str += '    <div class="sign">작성자</div>';
                            }
                            str += '        <div class="date">'+formatDate(comment.regDate)+'</div></div>';
                            str += '    <div class="d-flex">';
                            str += '    <div class="text-monospace mr-1 flex-fill">'+comment.text+'</div>';
                            if(currentMember == comment.nickname){
                            str += '    <button id="modify" class="badge btn-warning" onclick="modifyForm('+comment.commentNum+',\''+comment.text+'\')">수정</button>';
                            str += '    <button class="badge btn-danger" onclick=commentRemove('+comment.commentNum+')>삭제</button>';
                            }
                            str += '    </div>';
                            str += '  </li>';
                        });
                        $(".commentList ul.list-group").html(str);
                    });
            }
        
            // 댓글 수정 폼 생성 함수
            function modifyForm(commentNum, text) {
                var str = "";
                str += '  <li id="comment__' + commentNum + '">';
                str += '    <div class="d-flex">';
                str += '    <textarea class="form-control flex-fill modifyText" name="modifyText" id="' +
                        'modifyText">' + text + '</textarea>';
                str += '    <button class="badge btn-warning" onclick=commentModify('+commentNum+')>수정</button>';
                str += '    <button class="badge btn-danger" onclick=getBoardComments()>취소</button>';
                str += '    </div>';

                str += '  </li>';

                $('#comment__' + commentNum).replaceWith(str);
                $('#comment__' + commentNum + ' #modifyText').focus();
            
            }
            // 댓글 수정 함수
            function commentModify(commentNum){
                var memberId = [[${member?.id}]];
                var boardId =[[${boardForm.id}]];
                var text = $('#modifyText').val();
                var data = {commentNum : commentNum, boardId : boardId, text : text, memberId : memberId};
                
                $.ajax({
                    url : '/comments/'+boardId+"/"+commentNum,
                    type : 'PUT',
                    contentType : 'application/json; charset=utf-8',
                    dataType : 'JSON',
                    data : JSON.stringify(data),
                success : function(result){
                    console.log("success : "+result);
                    self.location.reload();
                },
                error : function(err){
                    console.log(err);
                }
                });

            }
            // 댓글 삭제 함수
            function commentRemove(commentNum) {
                var data = {commentNum: commentNum};
                var boardId = [[${boardForm.id}]];
                if (confirm("댓글을 삭제하시겠습니까?")) {
                    $.ajax({
                        url: '/comments/' + boardId + "/" + commentNum,
                        type: 'DELETE',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        success: function (result) {
                            console.log("success : " + result);
                            self.location.reload();
                        },
                        error: function (error) {
                            console.log("error : " + error);
                        }
                    });
                }
            }
            getBoardComments();
        </script>
    </th:block>
</html>