<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/basic}">
    <head>
        <link rel="stylesheet" th:href="@{/css/read.css}">
    </head>
    <th:block layout:fragment="content">
        <div class="board__read">
        <form th:action="'/board/remove/' +${boardForm.id}" method="Post">
            <input type="hidden" name="_method" value="delete"/>
           <div class="read__top">
               <div class="title">[[${boardForm.title}]]</div>
           </div>
           <hr>
           <div class="read__info">
                <div class="writer">[[${boardForm.writer}]]</div>
                <div class="date">[[${#temporals.format(boardForm.regDate, 'yyyy/MM/dd HH:mm')}]]</div>
           </div>
           <hr>
           <div class="read__contents" style="margin-bottom: 5%;">
               <div th:utext="${boardForm.contents}"></div>
           </div>
           <div class="read__button">
               <button type="button" class="btn btn-secondary modifyButton" th:onclick="|location.href='@{/board/modify(id=${boardForm.id}, page=${pageRequestDTO.page})}'|">수정</button>
               <button type="submit" class="btn btn-danger removeButton">삭제</button>
               <button type="button" class="btn btn-info" th:onclick="|location.href='@{/board(page=${pageRequestDTO.page})}'|">목록</button>
           </div>
        </form>
        </div>
        
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function(){
                var currentMember = [[${member?.nickname}]];
                var writer = [[${boardForm.writer}]];

                function showButton(){
                    if(currentMember != writer){
                        $('.modifyButton').hide();
                        $('.removeButton').hide();
                    }
                }
                $('.removeButton').click(function(){
                    if(!confirm("정말 삭제하시겠습니까?")){
                        self.location.reload();
                    }
                });
                showButton();
            });
        </script>
    </th:block>
</html>