<!--header 부분을 나타냄-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="headerFrag">
        <!--Header -->
        <header class="header">
            <div class="header__wrapper">
                <h1 class="header__start">
                    <a th:href="@{/}"><span class="header__title">A-ZA</span></a>
                </h1>
            </div>
        </header>

        <!--메뉴 부분-->
        <nav class="nav">
            <ul class="nav__wrapper">
                <li sec:authorize="isAnonymous()">
                    <button class="nav__icon" th:onclick="|location.href='@{/signup}'|"><img class="nav__img" th:src="@{/imgs/signup-icon.jpg}"></button>
                    <button class="nav__menu" th:onclick="|location.href='@{/signup}'|">회원가입</button>
                </li>
                <li sec:authorize="isAnonymous()">
                    <button class="nav__icon" th:onclick="|location.href='@{/login}'|"><img class="nav__img" th:src="@{/imgs/login-icon.png}"></button>
                    <button class="nav__menu" th:onclick="|location.href='@{/login}'|">로그인</button>
                </li>
                <li>
                    <button class="nav__icon" th:onclick="|location.href='@{/board}'|"><img class="nav__img" th:src="@{/imgs/board.png}"></button>
                    <button class="nav__menu" th:onclick="|location.href='@{/board}'|">게시판</button>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <button class="nav__icon" th:onclick="|location.href='@{/logout}'|"><img class="nav__img" th:src="@{/imgs/logout-icon.png}"></button>
                    <button class="nav__menu" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
                </li>

            </ul>
        </nav>

    </th:block>
</html>