<!--header 부분을 나타냄-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="headerFrag">
        <!--Header -->
        <header class="header">
            <div class="header__wrapper">
                <h1 class="header__start">
                    <a th:href="@{/}"><span class="header__title">A-ZA</span></a>
                </h1>
            </div>
        </header>
        <!--메뉴 부분-->
        <nav class="nav">
            <ul class="nav__wrapper">
                <li sec:authorize="isAnonymous()">
                    <button class="nav__icon" th:onclick="|location.href='@{/signup}'|"><img class="nav__img" th:src="@{/imgs/signup-icon.jpg}"></button>
                    <button class="nav__menu" th:onclick="|location.href='@{/signup}'|">회원가입</button>
                </li>
                <li sec:authorize="isAnonymous()">
                    <button class="nav__icon" th:onclick="|location.href='@{/login}'|"><img class="nav__img" th:src="@{/imgs/login-icon.png}"></button>
                    <button class="nav__menu" th:onclick="|location.href='@{/login}'|">로그인</button>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <button class="nav__icon" th:onclick="|location.href='@{/logout}'|"><img class="nav__img" th:src="@{/imgs/logout-icon.png}"></button>
                    <button class="nav__menu" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
                </li>
                <li>
                    <button class="nav__icon" th:onclick="|location.href='@{/board}'|"><img class="nav__img" th:src="@{/imgs/board.png}"></button>
                    <button class="nav__menu" th:onclick="|location.href='@{/board}'|">게시판</button>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <button class="nav__icon" th:onclick="|location.href='@{/myboard}'|"><img class="nav__img" th:src="@{/imgs/board.png}"></button>
                    <button class="nav__menu" th:onclick="|location.href='@{/myboard}'|">내가 쓴 게시글</button>
                </li>
                <li sec:authorize="isAuthenticated()">         
                    <button class="nav__icon"><img class="nav__img" th:src="@{/imgs/manage-icon.png}"></button>
                    <button class="nav__menu collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">개인정보 설정</button>
                    <li sec:authorize="isAuthenticated()">
                        <button id="flush-collapseOne" class="nav__icon collapse tab" th:onclick="|location.href='@{/settings/nickname}'|" style="font-size: 1rem;"><img class="nav__img" th:src="@{/imgs/pencil-icon.png}"></button>
                        <button id="flush-collapseOne" class="nav__menu collapse" th:onclick="|location.href='@{/settings/nickname}'|" style="font-size: 1rem;"> 닉네임 변경 </button>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <button id="flush-collapseOne" class="nav__icon collapse tab" th:onclick="|location.href='@{/settings/password}'|" style="font-size: 1rem;"><img class="nav__img" th:src="@{/imgs/pencil-icon.png}"></button>
                        <button id="flush-collapseOne" class="nav__menu collapse" th:onclick="|location.href='@{/settings/password}'|" style="font-size: 1rem;"> 비밀번호 변경 </button>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <button id="flush-collapseOne" class="nav__icon collapse tab" th:onclick="|location.href='@{/settings/member-delete}'|" style="font-size: 1rem;"><img class="nav__img" th:src="@{/imgs/delete-icon.png}"></button>
                        <button id="flush-collapseOne" class="nav__menu collapse" th:onclick="|location.href='@{/settings/member-delete}'|" style="font-size: 1rem;"> 회원 탈퇴 </button>
                    </li>
                </li>
            </ul>
        </nav>
        <script type="text/javascript" th:inline="javascript">
        </script>
    </th:block>
</html>