<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
    <th:block layout:fragment="content">
  
    <div class="newPassword" style="margin: 60px 40px 0 250px; padding: 20px 0 0 20px;">
      <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <span th:text="${message}">수정 완료</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>    
        <div class="newPassword__top" style="font-family: 'cookie'; font-size: 1.8rem; margin-bottom: 15px; display: flex; justify-content: space-between;">
            <h1>비밀번호 변경</h1>
        </div>
        <form class="needs-validation col-12" th:object="${passwordForm}" th:action="@{/settings/password}" method="POST">
            <div class="form-group mt-3">
                <lable for="newPassword" class="form-label">새 패스워드</lable>
                <input type="password" th:field="*{newPassword}" class="form-control" required>
                <div id="newPasswordHelp" class="form-text text-muted"> 새 패스워드를 입력하세요.</div>
                <div class="invalid-feedback">패스워드를 입력하세요.</div>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">new password error</div>
            </div> 
            <div class="form-group mt-3">
              <lable for="newPasswordConfirm" class="form-label">새 패스워드</lable>
              <input type="password" th:field="*{newPasswordConfirm}" class="form-control" required>
              <div id="newPasswordConfirmHelp" class="form-text text-muted"> 새 패스워드를 다시 한번 입력하세요.</div>
              <div class="invalid-feedback">패스워드를 다시 입력하세요.</div>
              <div class="form-text text-danger" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}">new password confirm error</div>
            </div>
          <div class="form-group mt-3">
            <button type="submit" class="btn btn-outline-primary">변경하기</button>
          </div>
        </form>
    </div>
    </th:block>
</html>    